{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "51a23934a40edd378c067e63136e50d1b7f17c2d"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../logseq/deps/graph-parser"}}}
